PORT=5000
# MONGODB_URI=mongodb+srv://saidul:mdshaiadul@gmail.com@cluster0.znxaalb.mongodb.net/?appName=Cluster0
MONGODB_URI=mongodb+srv://saidul:GUC1lovYU8FYtTCQ@cluster0.znxaalb.mongodb.net/shoe_pos?retryWrites=true&w=majority
JWT_SECRET=kas9iwq5ur90sayf90wqa7r90wq45r3woru790wq43
JWT_EXPIRE=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173